<div class="content" role="main">

    <div class = "row justify-content-center">
      <h3> Busque el personaje de Star Wars </h3>
    </div>
    
    <div class = "row justify-content-center">
      <input type="text" [(ngModel)]="name" value="Luke">
      
    </div>
    <div class = "row justify-content-center">
      <div class="col-2 justify-content-end">
        <button class="search-button" (click)="search()">Buscar</button>
      </div>
      <div class="col-2 justify-content-start">
        <button class="search-button" (click)="feelingLucky()">Me siento con suerte</button>
      </div>
    </div>
    <br>


    <div *ngIf="noResults">
      La búsqueda no dio resultados.
      Intenta de nuevo con otro nombre.
    </div>
    
    <div *ngIf="display">
      <div *ngFor="let person of people" class="row justify-content-center api-result-row">
      
        <div class="col-3">
          <a href={{person.url}}>{{person.name}}</a>
        </div>
        <div class="col-3">
          <button (click)="select(person)">Selecionar</button>
        </div>
      </div>
    </div>
    

    <div *ngIf="getCookie() !== ''" id="reset_id">
        <p>La cookie actual es "{{getCookie()}}"</p>
        <button (click)="resetCookie()">Reset Cookie</button>
    </div>
    <div *ngIf="getCookie() === ''" id="reset_id">
        <p>Parece que actualmente no hay una cookie guardada</p>
    </div>
  
  </div>
