<article>
    <header>
        <h2>Examen #2: Electric Boogaloo</h2>
        <p>Integrantes del Equipo: </p>
        <ul>
            <li>
                <p>Sebastian Terrazas Santillana</p>
            </li>
            <li>
                <p>Vicente Garza Reyna</p>
            </li>
        </ul>
        <p>Temas usados:</p>
        <ul>
            <li>
                <p>Funciones Lambda</p>
            </li>
            <li>
                <p>Manejo de Excepciones/Friendly Excepcions</p>
            </li>
            <li>
                <p>Cookies</p>
            </li>
        </ul>
    </header>
</article>
